#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.linkControls {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.potentialCollocation {
  cursor: pointer;
}

.potentialCollocation:hover {
  color: #fff;
}

.linkWord {
  margin: 0 0.5rem;
  font-size: 1.5rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  column-count: 4;
  column-gap: 1.5em;
  text-align: left;
}

ul li {
  margin-bottom: 1rem;
}

ul li::before {
  content: none; /* Remove the bullet */
}

ul li:last-child {
  margin-bottom: 0;
}
